.hiddenElement {
    display: none;
    border: none;
}

#myCheckbox {
    cursor: pointer;
}

* {
    -webkit-user-select: none;
    user-select: none;
}

input,
textarea,
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}